.app-header {
  align-items: center;
  background: #dcdcdc;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.app-header__logo {
  background: #999;
  height: 25px;
  width: 100px;
}
